@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-label {
    margin: 0;
    padding:0;
    
    padding: 0 !important;
}

.ant-form-item {
    margin: 0;
    padding:0;
    
    padding: 0 !important;

    width: 100% !important;
}

.ant-card-body{
    padding:16px !important;
}

th{
    padding:10px;
}

label{
    color:#6e6e6e !important;
}